---
import Afsnit from "../components/Afsnit.astro";
import "../styles/global.css";
import Mobil from "../components/Mobil.astro";
import Afsnit2 from "../components/Afsnit2.astro";
import Afsnit3 from "../components/Afsnit3.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Afsnit
      header="CHAT MED OS"
      text="Velkommen til GirlTalk's chat! Vi er her for at give dig et trygt og støttende rum, hvor du kan åbne op og tale om alt, hvad der fylder i dit hoved. Uanset om du står over for små bump på vejen eller store udfordringer i livet, er vores chat her for at hjælpe dig med at finde vej."
      text2="At være ung kan være en forvirrende og udfordrende tid. Der er så meget at navigere igennem - skole, venskaber, familie, kærlighed og alt det midt imellem. Det er her, GirlTalk's chat kommer ind i billedet. Vi er her for at give dig en stemme og en platform til at dele dine tanker, følelser og oplevelser."
      text3="Vores chat er bemandet af et dedikeret team af frivillige mentorer, der er her for at lytte og støtte dig. Disse mentorer er unge mennesker ligesom dig, der forstår, hvad det vil sige at være ung i dagens samfund. De er her for at hjælpe dig med at finde løsninger på dine problemer, give dig rådgivning og støtte dig, uanset hvad du står over for."
      text4="Når du deltager i GirlTalk's chat, bliver du en del af et fællesskab af venner, der forstår dig. Du kan møde piger fra hele landet, der deler dine interesser, bekymringer og glæder. Det er et sted, hvor du altid kan finde nogen at tale med, uanset hvad du går igennem."
    />
    <Mobil />
	<Afsnit2/>
	<Afsnit3/>
  </body>
</html>
