---
const header = Astro.props.header;
const text = Astro.props.text;
const text2 = Astro.props.text2;
---

<div class="forste_afsnit">
  <h2>{header}</h2>
  <p>{text}</p>
  <p>{text2}</p>
</div>

<style>
  h2 {
    color: var(--primary-color-blue);
    font-size: var(--h2-size);
    max-width: var(--text-width);
    grid-column: 4/10;
    font-family: obviously;
  }
  p {
    font-family: Archivo;
    line-height: var(--paragraf-spacing);
    max-width: var(--text-width);
    margin: auto;
    grid-column: 4/10;
  }

  .forste_afsnit {
    background-color: var(--secondary-color-beige);
    display: grid;
    grid-area: 1/4/1/10;
  }
</style>
