---

---

<img class="blaa_sky" src="/public/lyseblaa_sky.png" alt="blå sky" />
<img class="blaa_sky2" src="/public/lyseblaa_sky.png" alt="blå sky" />

<img src="/public/hvid_sky.png" alt="hvid sky" class="hvid_sky" />
<img src="/public/hvid_sky.png" alt="hvid sky" class="hvid_sky2" />
<img src="/public/hvid_sky.png" alt="hvid sky" class="hvid_sky3" />

<img
  src="/public/moerkeblaa_sky.png"
  alt="mørkeblå sky"
  class="moerkeblaa_sky"
/>
<img
  src="/public/moerkeblaa_sky.png"
  alt="mørkeblå sky"
  class="moerkeblaa_sky2"
/>
<img
  src="/public/moerkeblaa_sky.png"
  alt="mørkeblå sky"
  class="moerkeblaa_sky3"
/>
<img
  src="/public/moerkeblaa_sky.png"
  alt="mørkeblå sky"
  class="moerkeblaa_sky4"
/>

<img src="/public/Artboard_16.png" alt="dråbe" class="draabe" />
<img src="/public/Artboard_16.png" alt="dråbe" class="draabe2" />
<img src="/public/Artboard_16.png" alt="dråbe" class="draabe3" />
<img src="/public/Artboard_16.png" alt="dråbe" class="draabe4" />

<img src="/public/Artboard_16.png" alt="dråbe" class="draabe5" />
<img src="/public/Artboard_16.png" alt="dråbe" class="draabe6" />
<img src="/public/Artboard_16.png" alt="dråbe" class="draabe7" />
<img src="/public/Artboard_16.png" alt="dråbe" class="draabe8" />

<div class="afsnit_blaa">
  <h2>Vi er her for dig</h2>
  <p>
    Når du deltager i vores chat, kan du være helt anonym. Det betyder, at du
    kan tale frit uden at skulle bekymre dig om, hvad andre tænker om dig. Det
    er et sted, hvor du kan være dig selv uden frygt for fordømmelse eller
    kritik. Vi tror på at skabe et trygt og inkluderende miljø, hvor alle føler
    sig velkomne og accepterede.
  </p>
  <p>
    At deltage i vores chat er nemt. Alt, hvad du skal gøre, er at besøge vores
    hjemmeside, finde chatten og hoppe ind. Der er ingen registrering eller
    login nødvendig - det handler bare om dig og dine tanker. Del det, der
    fylder i dit hoved, og lad os sammen finde løsninger og støtte hinanden.
  </p>
  <p>
    GirlTalk's chat er mere end bare en chatplatform - det er et fællesskab,
    hvor du kan være dig selv og finde støtte blandt ligesindede. Vi er her for
    at hjælpe dig med at navigere gennem ungdommens udfordringer og finde vejen
    til lykke og trivsel. Kom og vær med i vores chat i dag, og lad os sammen
    skabe en bedre fremtid for os alle.
  </p>
</div>

<style>
  @keyframes draabe {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(0px, 25px);
    }
  }

  .afsnit_blaa {
    background-color: var(--secondary-color-lightblue);
    display: grid;
    grid-area: 6/1/13/13;
    padding-bottom: 10%;
  }

  .blaa_sky {
    grid-area: 6/1/6/13;
    translate: 700px -200px;
  }
  .blaa_sky2 {
    grid-area: 6/1/6/13;
    translate: 200px -200px;
  }

  .hvid_sky {
    grid-area: 6/1/6/13;
    translate: 260px -100px;
    max-width: 20%;
  }
  .hvid_sky2 {
    grid-area: 6/1/6/13;
    translate: 940px -100px;
    max-width: 20%;
  }
  .hvid_sky3 {
    grid-area: 6/1/6/13;
    translate: 540px -180px;
    max-width: 20%;
  }

  .moerkeblaa_sky {
    grid-area: 6/1/6/13;
    translate: 200px -180px;
    max-width: 15%;
  }
  .moerkeblaa_sky2 {
    grid-area: 6/1/6/13;
    translate: 420px -120px;
    max-width: 15%;
  }
  .moerkeblaa_sky3 {
    grid-area: 6/1/6/13;
    translate: 980px -240px;
    max-width: 15%;
  }
  .moerkeblaa_sky4 {
    grid-area: 6/1/6/13;
    translate: 1200px -110px;
    max-width: 15%;
  }

  .draabe {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 1000px 80px;
    animation-name: draabe;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .draabe2 {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 1100px 60px;
    animation-name: draabe;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .draabe3 {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 1050px 90px;
    animation-name: draabe;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .draabe4 {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 1140px 100px;
    animation-name: draabe;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .draabe5 {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 370px 80px;
    animation-name: draabe;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .draabe6 {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 480px 60px;
    animation-name: draabe;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .draabe7 {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 310px 90px;
    animation-name: draabe;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .draabe8 {
    max-width: 2%;
    grid-area: 6/1/6/13;
    translate: 430px 100px;
    animation-name: draabe;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
</style>
