---

---

<img src="/public/lyseroed_hjerte.png" alt="hjerte" class="hjerte" />
<img src="/public/lyseroed_hjerte.png" alt="hjerte" class="hjerte2" />
<img src="/public/lyseroed_hjerte.png" alt="hjerte" class="hjerte3" />

<img src="/public/lyseblaa_hjerte.png" alt="blåt hjerte" class="blaa_hjerte" />
<img src="/public/lyseblaa_hjerte.png" alt="blåt hjerte" class="blaa_hjerte2" />
<img src="/public/lyseblaa_hjerte.png" alt="blåt hjerte" class="blaa_hjerte3" />
<img src="/public/lyseblaa_hjerte.png" alt="blåt hjerte" class="blaa_hjerte4" />

<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed2" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed3" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed4" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed5" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed6" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed7" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed8" />
<img src="/public/roed_hjerte.png" alt="rødt hjerte" class="hjerte_roed9" />

<img src="/public/stjerne.png" alt="stjerne" class="stjerne1" />
<img src="/public/stjerne.png" alt="stjerne" class="stjerne2" />
<img src="/public/stjerne.png" alt="stjerne" class="stjerne3" />
<img src="/public/stjerne.png" alt="stjerne" class="stjerne4" />

<div class="afsnit_roed">
  <div class="tekst">
    <h2>Vi kender til det</h2>
    <p>
      At være teenager er lidt som at være på en rutsjebanetur, der aldrig
      rigtig standser. Det ene øjeblik er alt perfekt og spændende, og det næste
      kan føles overvældende og forvirrende. Fra de første skridt ind i
      teenageårene rundt de 12, til man når 20, sker der så mange forandringer,
      både fysisk og mentalt, og hvert skridt på vejen kommer med sine egne
      udfordringer og sejre.
      <br />
      <br />
      Først og fremmest er der kroppen, der ændrer sig i et tempo, som kan føles
      både fascinerende og skræmmende. Der er presset for at præstere godt, vælge
      en karrierevej og leve op til både egne og andres forventninger kan være overvældende.
      <br />
      <br />
      Ud fra alt dette spiller vennerne en kæmpe rolle i teenageårene. Sociale medier
      har ændret den måde, unge interagerer på, og ikke altid til det bedre. Online
      kan man blive eksponeret for et konstant pres for at se ud og leve på en bestemt
      måde. Følelsen af altid at skulle måle sig med andre kan skabe angst og selvbevidsthed.
      Men vennerne er også dem, der støtter og forstår, dem man kan grine med til
      langt ud på natten, og som man deler sine hemmeligheder og drømme med.
    </p>
  </div>
  <div class="link2">
    <hr />
    <p class="link_læs_mere">Læs Mere: <a href="*">Åbningstider for vores chat</a></p>
    <hr />
  </div>
</div>

<style>
  @keyframes stjerne {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.8);
    }
  }
  .afsnit_roed {
    background-color: var(--primary-color-red);
    grid-area: 13/1/15/13;
    padding-bottom: 10%;
    display: grid;
    justify-content: center;
  }

  .link2 {
    text-align: center;
  }
  .tekst {
    margin: 10%;
  }

  p {
    color: var(--secondary-color-beige);
  }

  h2 {
    color: var(--secondary-color-beige);
  }
  /** hjerter lyserød**/
  .hjerte {
    grid-area: 13/1/13/13;
    translate: 200px -100px;
    max-width: 15%;
  }
  .hjerte2 {
    grid-area: 13/1/13/13;
    translate: 600px -150px;
    max-width: 15%;
  }
  .hjerte3 {
    grid-area: 13/1/13/13;
    translate: 1000px -100px;
    max-width: 15%;
  }
  /** hjerter lyserød**/

  /** hjerter blå**/
  .blaa_hjerte {
    grid-area: 13/1/13/13;
    translate: 1200px 60px;
    max-width: 10%;
  }
  .blaa_hjerte2 {
    grid-area: 13/1/13/13;
    translate: 140px 60px;
    max-width: 8%;
  }
  .blaa_hjerte3 {
    grid-area: 13/1/13/13;
    translate: 360px 60px;
    max-width: 6%;
    rotate: -30deg;
  }
  .blaa_hjerte4 {
    grid-area: 13/1/13/13;
    translate: 1000px 60px;
    max-width: 6%;
  }
  /** hjerter blå**/
  /**hjerte røde**/
  .hjerte_roed {
    max-width: 8%;
    grid-area: 13/1/13/13;
    translate: 150px -70px;
    rotate: -20deg;
  }
  .hjerte_roed2 {
    max-width: 10%;
    grid-area: 13/1/13/13;
    translate: 450px -70px;
  }
  .hjerte_roed3 {
    max-width: 8%;
    grid-area: 13/1/13/13;
    translate: 850px -70px;
  }
  .hjerte_roed4 {
    max-width: 8%;
    grid-area: 13/1/13/13;
    translate: 1220px -70px;
    rotate: 20deg;
  }
  .hjerte_roed5 {
    max-width: 5%;
    grid-area: 13/1/13/13;
    translate: 1120px -170px;
    rotate: -20deg;
  }
  .hjerte_roed6 {
    max-width: 5%;
    grid-area: 13/1/13/13;
    translate: 280px -170px;
    rotate: -20deg;
  }
  .hjerte_roed7 {
    max-width: 8%;
    grid-area: 13/1/13/13;
    translate: 1050px -60px;
  }
  .hjerte_roed8 {
    max-width: 3%;
    grid-area: 13/1/13/13;
    translate: 850px -160px;
  }
  .hjerte_roed9 {
    max-width: 3%;
    grid-area: 13/1/13/13;
    translate: 550px -160px;
    rotate: -20deg;
  }
  /**hjerte røde**/

  /**stjerner**/
  .stjerne1 {
    max-width: 3%;
    grid-area: 13/1/13/13;
    translate: 450px -160px;
    animation-name: stjerne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .stjerne2 {
    max-width: 3%;
    grid-area: 13/1/13/13;
    translate: 100px -60px;
    animation-name: stjerne;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .stjerne3 {
    max-width: 3%;
    grid-area: 13/1/13/13;
    translate: 900px -100px;
    animation-name: stjerne;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .stjerne4 {
    max-width: 3%;
    grid-area: 13/1/13/13;
    translate: 1200px -20px;
    animation-name: stjerne;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  /**stjerner**/
  a:link{
    color: var(--secondary-color-beige);
}
a:hover{
    color: var(--secondary-color-lightpink);
}
a:active{
    color: var(--secondary-color-lightpink);
}
a:visited{
    color: var(--secondary-color-lightpink);
}
.link_læs_mere{
    color: var(--secondary-color-black);
}
</style>
