---
---
<div class="fjerde_afsnit">
<p>hej</p>
<img src="/public/telefon.png" alt="telefon">
</div>

<style>
    .fjerde_afsnit{
        background-color: var(--secondary-color-lightpink);
        grid-area: 15/1/20/14;
    }
</style>