---

---

<div class="baggrund">
  <h1>GIRL ❤</h1>
  <h2>TALK</h2>
</div>
<img class="stor_pige" src="illu6.png" alt="ked pige" />
<img class="telefon" src="telefon.png" alt="telefon" />
<img class="insta" src="instagram.png" alt="instagram" />
<img class="hjerte" src="hjerte.png" alt="hjerte bobbel" />

<img src="stjerne.png" alt="stjerne" class="stjerne1" />
<img src="stjerne.png" alt="stjerne" class="stjerne2" />
<img src="stjerne.png" alt="stjerne" class="stjerne3" />
<img src="stjerne.png" alt="stjerne" class="stjerne4" />

<style>
  h1 {
    color: var(--primary-color-red);
    font-size: var(--h1-size);
    font-family: obviously;
    text-align: center;
    translate: -40px 0px;
  }
  h2 {
    color: var(--primary-color-red);
    font-size: 8.75rem;
    font-family: obviously;
    text-align: center;
    translate: 70px -150px;
  }
  .baggrund {
    background: linear-gradient(0deg, #fff5eb 12%, #f7c7d9 39%);
    grid-area: 1/1/1/14;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .stor_pige {
    grid-area: 1/1/1/14;
    max-width: 30%;
    translate: 90px 150px;
  }
  .telefon {
    grid-area: 1/1/1/14;
    max-width: 10%;
    translate: 530px 350px;
    rotate: -15deg;
  }
  .insta {
    grid-area: 1/1/1/14;
    max-width: 20%;
    translate: 950px 160px;
  }

  .hjerte {
    grid-area: 1/1/1/14;
    max-width: 10%;
    translate: 1030px 370px;
    rotate: 20deg;
  }

  .stjerne1 {
    grid-area: 1/1/1/14;
    max-width: 10%;
    translate: 1180px 280px;
    animation-name: stjerne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .stjerne2 {
    grid-area: 1/1/1/14;
    max-width: 10%;
    translate: 1020px 100px;
    animation-name: stjerne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .stjerne3 {
    grid-area: 1/1/1/14;
    max-width: 10%;
    translate: 200px 50px;
    animation-name: stjerne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .stjerne4 {
    grid-area: 1/1/1/14;
    max-width: 10%;
    translate: 150px 150px;
    animation-name: stjerne;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
</style>
