---

---

<div class="telefon">
  <img src="/public/telefon.png" alt="telefon" />
  <img class="smaat_billede" src="/public/hjerte lyseroed.png" alt="" />
</div>
<style>
  img {
    grid-area: 2/5/2/11;
  }

  .telefon {
    grid-area: 2/4/2/10;
    display: grid;
  }

  .smaat_billede{
    max-width: 50%;
  }
</style>
