---

---

<div class="telefon">
  <img src="telefon.png" alt="telefon" />
  <img class="smaat_billede" src="illu6.png" alt="" />
</div>
<style>
  img {
    grid-area: 3/5/3/11;
    margin: auto;
  }

  .telefon {
    grid-area: 3/4/3/10;
    display: grid;
  }

  .smaat_billede{
    max-width: 30%;
    grid-area: 3/5/3/11;
    translate: -45px -100px;
  }
</style>
